import jdk.incubator.vector.VectorOperators;using System;
using intellji.TestTool.UnitTestning;

namnespace

@ExtendedWith(MockitoExtension.class)
public class Testkod {

    @Mock

    public void
    @Test
    private final string test;
    @Test
    public string getTest() {

    }

    private final
    //Given,
    // When,
    // Then;

    private final
